<?xml version="1.0"?>

<robot name="docker" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <link name="base">
    <inertial>
      <mass value="0.7" />  <!-- [kg] -->
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </inertial>

    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="docker_visual.dae" scale="1 1 1" />
        <!-- <box size="${body_width} ${body_width} ${body_height}"/> --> <!-- [m] [m] [m] -->
      </geometry>
        <color rgba="1.0 1.0 0.0 0.0"/>
    </visual>
  </link>
</robot>
