<launch>   
   <!-- command line input for urdf model -->
   <arg name="model" default="donut.xacro"/>
   <arg name="namespace" default="donut" />

   <param name="robot_description" command="$(find xacro)/xacro --inorder 
      '$(find stationary_base_docking)/urdf/$(arg model)'
      namespace:=$(arg namespace)" />

   <!-- send joint values from gui -->
   <node name="joint_state_publisher" pkg="joint_state_publisher" 
         type="joint_state_publisher" />

   <!-- use joint positions to update tf -->
   <node name="robot_state_publisher" pkg="robot_state_publisher" 
         type="state_publisher" />

   <!-- visualize robot model in 3D -->
   <node name="rviz" pkg="rviz" type="rviz" 
         args="-d $(find stationary_base_docking)/rviz/urdf.rviz" required="true" />

</launch>
